.button {
  padding: 17px 0 18px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  &.small {
    font-size: 12px;
    line-height: 15px;
  }

  &.medium {
    font-size: 16px;
    line-height: 20px;
  }

  &.contained {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    color: #5540BF;
  }

  &.outlined {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: transparent;
    color: #5540bf;
  }
}
